@media (max-width: 576px) {
     .header-search {
          display: flex;
          flex-wrap: wrap;
          gap: 10;
          padding: 0;
          justify-content: center;
     }

     .header-search p {
          margin: 5px;
     }

     .brand-container img {
          width: 100%;

     }
}


@media screen and (max-width: 992px) and (min-width: 576px) {
     .header-search {
          display: flex;

          gap: 10;
          padding: 0;
          justify-content: center;
     }

     .romance-container {
          display: grid;
         grid-template-columns: auto auto ;
         gap: 10px;

     }

     .header-search p {
          margin: 5px;
     }

     .brand-container img {
          width: 100%;


     }
}


@media screen and (max-width: 1200px) and (min-width: 992px) {

     .brand-container img {
          height: 35px;
     }

     .header-search {
          display: flex;
          gap: 10;
          padding: 0;
          align-items: center;
          justify-content: center;
     }

     .romance-container {
          display: grid;
         grid-template-columns: auto auto ;
         gap: 10px;
     }
}


@media screen and (max-width:1400px) and (min-width: 1200px) {
     .brand-container img {
          height: 35px;
     }

     .romance-container {
          display: grid;
         grid-template-columns: auto auto ;
         gap: 10px;
     }
}


@media (min-width: 1400px) {
     .brand-container img {
          height: 35px;
     }

     .romance-container {
          display: grid;
         grid-template-columns: auto auto ;
         gap: 10px;
     }


}